table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  th{
      background-color: lightblue;
  }
  agm-map {
    height: 500px;
    width: 500px;
  }
 